*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*U T I L I T Y*/
.flex{
    display: flex;
    flex-wrap: wrap;
}

/* C S S*/
.debug main{
    background-color: black;
}
.debug aside{
    background-color: red;
    width: 70px;
}
.debug .principalContainer{
    background-color: blue;
    width: calc(100vw - 70px);
    height: calc(100vh - 100px);
}
.debug footer{
    background-color: chartreuse;
    height: 100px;
}