* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*U T I L I T Y*/
.flex {
    display: flex;
    flex-wrap: wrap;
}
.f-column{
    flex-direction: column;
}
.overflow {
    overflow-y: auto;
    height: calc(100vh - 80px);
    padding-top: 50px;
}

/* C S S*/
main {
    background-color: black;
}

aside {
    background-color: red;
    width: 70px;
    height: calc(100vh - 80px);
}

.principalContainer {
    background-color: blue;
    width: calc(100% - 70px);
    height: calc(100% - 80px);
}

.fixedCta {
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed;
    width: calc(100vw - 70px);
    top: 0;
    right: 0;
    filter: opacity(0.4);
    z-index: 9999;
    justify-content: flex-end;
}

.button {
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid white;
    margin-right: 20px;
}

.navigationBar {
    height: 30px;
    background-color: forestgreen;
}

.principalContainer li {
    padding: 20px;
    list-style: none;
    width: calc(100% / 2);
}

.card.song {

    height: 150px;
    background-color: hotpink;
}

footer {
    background-color: chartreuse;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.invisible{
    display: none;
}
.player{
    width: 150px;
    height: 100%;
    background-color: brown;
}
.photoProfile{
    background-image: url("../img/profile.svg" );
    background-position: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;

}
.sideBar{
   justify-content: space-between;
  
  
}

/*tablet 768*/
@media screen and (min-width:768px) {
    aside {
        width: 200px;
    }

    .principalContainer {
        width: calc(100% - 200px);
        height: calc(100% - 80px);
    }

    .fixedCta {
        width: calc(100% - 200px);
    }

    .principalContainer li {
        width: calc(100% / 3);
    }
   .invisible{
    display: inline-block;
   }
}

/*desktop 992*/
@media screen and (min-width:992px) {
    .principalContainer li {
        width: calc(100% / 6);
    }


}

/*Big desktop 1200*/
@media screen and (min-width:1200px) {}