* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;

}

/*U T I L I T Y*/
a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.algn {
    align-items: center;
}

.noWrap {
    flex-wrap: nowrap;
}

.overflow {
    overflow-y: scroll;
    height: calc(100vh - 80px);
    padding-top: 50px;
}

.invisible {
    display: none;
}

/* C S S*/
main {
    background-color: black;
    overflow: hidden;
}

.principalContainer {
    background-color: rgb(20, 25, 34);
    width: calc(100% - 70px);
    height: calc(100% - 80px);
    padding-left: 20px;


}

.fixedCta {
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed;
    width: calc(100vw - 70px);
    top: 0;
    right: 0;
    filter: opacity(0.7);
    z-index: 9999;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.4);
    padding-right: 20px;

}

.button:hover {
    transform: scale(1.2);

}

.button {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid white;
    margin-right: 20px;
    font-size: 11px;
}

/***NAVBAR****/
.navigationBar {
    justify-content: center;
    align-items: center;

}

.btnContainerNav {
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px 0px;
}

.btnNav {
    font-size: 10px;
    padding: 5px 8px;
    color: rgb(122, 124, 129);
    font-weight: 600;
}
.plus{
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: gray;
    display: inline-block;
    color: white;
text-align: center;  
}
.cross{

}
.btnNav:hover {
    transform: scale(1.2);
}
.greenBar{
    height: 2px;
    width: 30%;
    margin: auto;
    background-color: green;
    border-radius: 2px;
}
.btnNav:hover .greenBar{
    display: block;
}

/*PLAYLIST*/
.imgPlaylist {
    width: 100%;
    position: relative;
}

.card.song {

    width: 100%;
    height: 100%;
}

.relativeImg {
    position: relative;
}

.playImg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    display: none;
}

.card.song:hover img {

    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.card.song:hover .playImg {
    display: block;
}

.ttl {
    padding: 0px 0px 10px 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;


}

.principalContainer li {
    padding: 10px;
    list-style: none;
    width: calc(100% / 2);
}

.underTitle {
    padding-left: 10px;
}

.description {
    text-align: center
}

.name {
    color: white;
    font-weight: 700;
    font-size: 13px;
    padding: 5px 0px;
}

.artist {
    color: rgb(122, 124, 129);
    font-size: 9px;
    padding: 5px 10px;
    font-weight: 600;
}

.popularArtist .imgPlaylist {
    border-radius: 50%;
}

.playlist {
    padding: 10px 0px;
}


/***ASIDE****/
.hover:hover {
    transform: scale(1.1);
    color: antiquewhite;
}

.iconAside:hover {
    border-left: 2px solid rgb(56, 171, 56);
    padding-left: 5px;
}

aside {
    width: 70px;
    height: calc(100vh - 80px);

}

.topAside {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: calc(100% - 70px);
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: calc(100% - 70px);
}

.logo.small {
    padding: 20px;
}

.iconAside {
  
    width: 30px;
    margin: 5px 0px; 
  
}

.iconAside span {
  
    color: white;
    font-weight: 500;
    padding-left: 20px;
}

aside img {
    display: inline-block;
}

.bottomAside {
    width: 100%;
    height: 70px;
    padding: 0 10px;


}

.yourSong {
    overflow: hidden;
}
.algn{
    padding-left: 10px;
}
.list.play {
    overflow-y: auto;

    height: calc(100% - 3rem);
}

.downloadAside {
    border-bottom: 1px solid rgb(87, 87, 87);
    padding: 0 0px 0px 10px;
}

.downloadIcon {
    width: 20px;
}

.downloadWrite {
    color: rgb(87, 87, 87);
    padding-left: 10px;
    font-weight: 700;
    font-size: 13px;
}

.profileAside {
    padding: 10px 0px 10px 10px;
}

.profileIcon {
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-image: url("../img/profile.svg");
    background-position: center;
}

.profileWrite {
    color: white;
    font-weight: 800;
    padding-left: 10px;
}

/****FOOTER*****/
footer {
    background-color: rgb(40, 40, 40);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.player {
    height: 100%;
}

.imgBottom {
    height: 40px;
    margin-right: 10px;
}

.descriptionBottom .name,
.descriptionBottom .artist {
    padding: 0 20px 0 0;
}

.leftPart,
.rigthPart {
    justify-content: center;
    align-items: center;
    padding: 0px 0px;

}

.rigthPart i {
    padding: 5px;
    color: white;
    font-size: 10px;
    
  
}

footer .name {
    font-size: 10px;
}

.player {
    width: 30%;
}

/*central footer*/
.timeContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timeline {

    width: 70%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    align-self: center;

}

.timeline.short {
    position: relative;
    display: block;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    background-color: rgb(126, 141, 126);
}

.circleTimeline {

    position: absolute;
    background-color: chartreuse;
    height: 10px;
    width: 10px;
    right: 0;
    top: 0px;
    transform: translate(0px, -3px);
    border-radius: 50%;
    display: none;
}

.timeContainer:hover .circleTimeline {
    display: block;
}

.timeContainer:hover .timeline.timeline.short {
    background-color: darkgreen;
}

.lineLeft:hover .timeline.timeline.short.volume {
    background-color: darkgreen;
}

.timeline.short.volume {
    margin-left: -5px;
}

.time {
    color: white;
    font-size: 9px;
    width: 10%;
}

.circleVolumeTimeline {
    position: absolute;
    background-color: chartreuse;
    height: 10px;
    width: 10px;
    right: 0;
    top: 0px;
    border-radius: 50%;
    transform: translate(0px, -3px);
    display: none;

}

.lineLeft:hover .circleVolumeTimeline {
    display: block;
}

.up {
    justify-content: center;
    align-items: center;
    height: 50%;
}

.iconBottom {
    color: white;
    padding: 10px;
    width: calc((100% / 5) - 30px);
}

.iconBottom.playBtn {
    font-size: 15px;
}

.lineLeft {
    width: 100%;
    justify-content: right;
    position: relative;
}

/*left footer*/
.iconBottomLeft {
    color: white;
    font-size: 9px;
}

.lineLeft div {
    padding-left: 5px;
}

.player.rigth {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline.left {
    width: 25%;
    margin-left: 5px;
}

/*tablet 768*/
@media screen and (min-width:768px) {
    aside {
        width: 200px;
    }

    .principalContainer {
        width: calc(100% - 200px);
        height: calc(100% - 80px);
    }

    .fixedCta {
        width: calc(100% - 200px);
    }

    .principalContainer li {
        width: calc(100% / 3);
    }

    .invisible {
        display: inline-block;
    }

    .logo {
        width: 70%;
        margin: 10px auto 0px auto;

    }

    .logo.small {
        display: none;
    }

    .yourSong h3 {
        color: white;
        font-weight: bolder;
        padding: 20px 10px;
    }

    .yourSong .titleCreatePlaylist {
        color: rgb(129, 131, 136);
        padding-bottom: 20px;
        padding-left: 10px;
    }

    .list.play li {
        color: rgb(91, 91, 91);
        font-size: 13px;
        padding: 0 10px 10px 10px;
    }
}

.yourSong i {
    background-color: rgb(129, 131, 136);
    color: black;
    font-size: 30px;
}

/*desktop 992*/
@media screen and (min-width:992px) {
    .principalContainer li {
        width: calc(100% / 6);
    }


}

/*Big desktop 1200*/
@media screen and (min-width:1200px) {}